<!--{% include git-wiki/components/toc/toc-lib.html title="Table of Contents:" minHeaders=1 html=content sanitize=true class="inline_toc" id="sidebar-toc" h_min=1 h_max=2 ordered=1 %}-->

{% include git-wiki/components/toc/toc-lib.html title="Table of Contents:" minHeaders=1 html=content sanitize=true class="inline_toc" id="sidebar-toc" h_min=1 h_max=2 %}

Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
</ul>
