@import "fonts";
@import "rouge-github";
@import "w3.scss";

body {
  /* background-color: #fff; */
  padding: 50px;
  font: 18px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
  color: #393939;
}

h3,
h4,
h5,
h6 {
  color: #494949;
}

h1 {
  font-size: 30px;
  border-bottom: 1px solid #393939;
  padding-bottom: 5px; /* Adds spacing between text and line */
}

a {
  color: #2277bb;  /* Darker blue */
  text-decoration: none;
}

a:hover {
  color: #005580;  /* Even darker blue on hover */
}

a small {
  font-size: 14px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

.wrapper {
  /*width:860px;*/
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
  font-size: 18px;
}

/* Block code styling */
pre {
  padding: 8px 15px;
  background: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

/* Inline code styling */
code {
  background: #f0f0f0;
  padding: 2px 4px;
  border-radius: 3px;
}

/* Ensure syntax-highlighted code inside <pre> uses the same background */
pre code {
  background: inherit;
  padding: 0;
  border-radius: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

.w3-teal {
  color: #000 !important;
  background-color: inherit !important;
}

#git-wiki-mobile-header {
  position: fixed;
  top: 0;
  height: 55px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid;
  border-radius: 10px;
  // z-index: 999; // it breaks the dark mode
}

#git-wiki-sidebar {
  width: 280px !important;
  float: left;
  position: relative !important;
  -webkit-font-smoothing: subpixel-antialiased;
  /*overflow-y: auto;
  overflow-x: auto;*/
  max-height: 100%;
  padding-bottom: 55px !important;
}

@media print,
screen and (max-width: 992px) {
  #git-wiki-sidebar {
    position: fixed !important;
    top: 50px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 10px;
  }

  .git-wiki-page {
    margin-top: 60px;
  }
}

.git-wiki-main-logo {
  max-width: 270px;
}

#git-wiki-sidebar .git-wiki-downloads {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 270px;
}

#git-wiki-sidebar .git-wiki-downloads li {
  width: 89px;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;
}

#git-wiki-sidebar .git-wiki-downloads li:first-child a {
  border-radius: 5px 0 0 5px;
}

#git-wiki-sidebar .git-wiki-downloads li:last-child a {
  border-radius: 0 5px 5px 0;
}

#git-wiki-sidebar .git-wiki-downloads a {
  line-height: 1;
  font-size: 14px;
  color: #999;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

#git-wiki-sidebar .git-wiki-downloads a:hover {
  color: #999;
}

#git-wiki-sidebar .git-wiki-downloads a:active {
  background-color: #f0f0f0;
}

strong {
  color: #222;
  font-weight: 700;
}

#git-wiki-sidebar .git-wiki-downloads li+li+li {
  border-right: none;
  width: 89px;
}

#git-wiki-sidebar .git-wiki-downloads a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

.git-wiki-page {
  /*width:500px;
  float:right;*/
  padding-left: 320px;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  padding-left: 320px;
  float: left;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.tools-element {
  border-left: darkgray;
  border-left-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

@media print,
screen and (max-width: 960px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  #git-wiki-sidebar,
  .git-wiki-page,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  #git-wiki-sidebar {
    padding-right: 320px;
  }

  .git-wiki-page,
  footer {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 60px 0 20px;
  }

  #git-wiki-sidebara small {
    display: inline;
  }

  /*#git-wiki-sidebar .git-wiki-downloads {
    position:absolute;
    right:50px;
    top:52px;
  }*/
}


@media print,
screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  #git-wiki-sidebar {
    padding: 0;
  }

  #git-wiki-sidebar .git-wiki-downloads,
  #git-wiki-sidebarp.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print,
screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  #git-wiki-sidebar .git-wiki-downloads {
    width: 99%;
  }

  #git-wiki-sidebarli,
  #git-wiki-sidebar .git-wiki-downloads li+li+li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}

/*
  Pagination rules
*/

.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
}

.post-item {
  margin-bottom: 50px;
}

#results-container li {
  list-style-type: none;
}

.external-link {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url("../images/external-link-ltr-icon.png");
  background-image: linear-gradient(transparent, transparent), url("../images/external.svg");
  padding-right: 13px;
}

// #sidebar-toc {
//     max-height: 500px; /* Adjust height */
//     overflow-y: auto;
//     padding: 10px;
//     border: 1px solid #ddd;
//     background-color: #f9f9f9;
//     border-radius: 5px;
// }
//
#git-wiki-toc {
    max-height: 500px; /* Adjust height */
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Sidebar TOC */
#sidebar-toc {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden */
    width: 300px;
    height: 100vh;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

/* Show Sidebar */
#sidebar-toc.active {
    right: 0;
}

/* TOC Toggle Button */
#toggle-toc {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1001;
    border-radius: 5px;
}

#toggle-toc:hover {
    background-color: #0056b3;
}

/* Close Button */
#close-toc {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* TOC Content */
.toc-content {
    margin-top: 30px;
}

/* General box styling */
.tip, .warning, .bug, .note {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border-left: 5px solid;
}

/* Tip (Green) */
.tip {
    background-color: #d4edda;
    color: #155724;
    border-color: #28a745;
}

/* Warning (Yellow) */
.warning {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffcc00;
}

/* Bug (Red) */
.bug {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #dc3545;
}

/* Note (Blue) */
.note {
    background-color: #cce5ff;
    color: #004085;
    border-color: #007bff;
}



/* 
  dark mode
  https://darkmodejs.learn.uno/#debug 
*/
.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}

/* disable dark mode on images */
body.darkmode--activated img, body.darkmode--activated .darkmode-ignore {
  mix-blend-mode: difference;
}
